/*********************************************
 * Variables
 *********************************************/
/*********************************************
 * FONT-FACE DEFINITIONS
 *********************************************/

@font-face {
    font-family: 'headline';
    src: url("../../../common-assets/fonts/josefin/JosefinSans-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'headline';
    src: url("../../../common-assets/fonts/josefin/JosefinSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'headline';
    src: url("../../../common-assets/fonts/josefin/JosefinSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'headline';
    src: url("../../../common-assets/fonts/josefin/JosefinSans-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'headline';
    src: url("../../../common-assets/fonts/josefin/JosefinSans-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'body';
    src: url("../../../common-assets/fonts/fanwood/webfonts/fanwood_italic-webfont.woff") format("woff"), url("../../../common-assets/fonts/fanwood/webfonts/fanwood-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'body';
    src: url("../../../common-assets/fonts/fanwood/webfonts/fanwood_italic-webfont.woff") format("woff"), url("../../../common-assets/fonts/fanwood/webfonts/fanwood_italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'body';
    src: url("../../../common-assets/fonts/fanwood/webfonts/fanwood_italic-webfont.woff") format("woff"), url("../../../common-assets/fonts/fanwood/webfonts/fanwood_italic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'emphasis';
    src: url("../../../common-assets/fonts/fanwood/webfonts/fanwood_text_italic-webfont.woff") format("woff"), url("../../../common-assets/fonts/fanwood/webfonts/fanwood_text_italic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
/*********************************************
 * GLOBAL STYLES
 *********************************************/
/* line 70, jasonspeaking.scss */

/* CSS Universal Transition by Jason CranfordTeague | www.cranforteague.com */

*:link, *:visited, *:hover, *:active, *:focus {
    -webkit-transition:
        color .15s linear,
        box-shadow .15s linear,
        background-color .15s linear,
        border-color .15s linear,
        opacity .15s linear;
    transition:
        color .15s linear,
        box-shadow .15s linear,
        background-color .15s linear,
        border-color .15s linear,
        opacity .15s linear;
}


body {
    font-family: 'body', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
    line-height: 1.5;
    text-align: center;
    color: #5d5d5d;
    background: #f2f2f2;
    background: -webkit-radial-gradient(white, #f2f2f2);
    background: -moz-radial-gradient(white, #f2f2f2);
    background: -ms-radial-gradient(white, #f2f2f2);
    background: radial-gradient(#ffffff, #f2f2f2);
}
/* line 88, jasonspeaking.scss */

.reveal {
    color: #5d5d5d;
}
/* line 92, jasonspeaking.scss */

.reveal .reverse {
    color: #f2f2f2 !important;
}
/* line 99, jasonspeaking.scss */

.reveal a,
.reveal a:link,
.reveal a:visited {
    color: rgba(234,224,255,.6);
    text-decoration: none;
}
/* line 104, jasonspeaking.scss */

.reveal a:hover {
    color: #b17e79;
}
/*********************************************
 * HEADERS
 *********************************************/
/* line 117, jasonspeaking.scss */

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'headline', sans-serif;
    line-height: 1;
    margin: .25em 0;
    font-weight: 100;
}
/* line 123, jasonspeaking.scss */

.reveal h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0;
}
/* line 128, jasonspeaking.scss */

.reveal .cover h2 {
    font-size: 1.25em !important;
    text-transform: lowercase !important;
    margin-top: 0 !important;
    color: rgb(255,0,0,1);
}
/* line 130, jasonspeaking.scss */

.reveal .backdrop h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 40px;
    line-height: 1.25;
}
/* line 136, jasonspeaking.scss */

header h1 {
    margin-top: 1em !important;
    line-height: 0;
}
/* line 140, jasonspeaking.scss */

.reveal h2 em,
.reveal h3 em {
    font-size: 1em;
    font-style: normal;
    font-weight: 900;
}

.reveal h2 em {
    display: block;
}
/* line 146, jasonspeaking.scss */

.reveal h3 {
    font-size: 2em;
    margin-bottom: 1em;
}
/* line 151, jasonspeaking.scss */

.reveal h4 {
    font-size: 1.25em;
    letter-spacing: .05em;
    font-family: headline;
}
/*********************************************
 * FOOTERS
 *********************************************/
/* line 162, jasonspeaking.scss */

footer.page {
    position: fixed;
    font-family: 'headline', sans-serif;
    letter-spacing: .035em;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
    opacity: .6;
    z-index: 9998;
    font-size: 2.5rem;
    width: 100%;
    cursor: pointer;
    pointer-events: fill;
    background: rgba(0, 0, 0, 1);
    color: rgba(255,255,255,1);
}
/* line 181, jasonspeaking.scss */

footer.page:hover {
    opacity: 1;
}
/* line 184, jasonspeaking.scss */

footer.page p {
    color: rgba(255, 255, 255, .5);
    font-size: .6em;
    font-weight: 100;
    text-align: left;
    margin-left: 20px;
}
/* line 191, jasonspeaking.scss */

footer.footnote {
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
/* line 198, jasonspeaking.scss */

.cover footer {
    width: 980px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 50px;
    font-family: 'headline', Impact, sans-serif;
    overflow: visible;
}
/* line 208, jasonspeaking.scss */

.cover footer .name {
    display: block;
    font-size: 1.25em;
    line-height: 1;
    height: 78px;
    width: 280px;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.75);
    padding: .3em 20px .2em 0;
    margin-right: 20px;
    text-align: right;
}
/* line 221, jasonspeaking.scss */

.cover footer .event {
    display: inline-block;
    text-align: justify;
    font-size: 1em;
    letter-spacing: .875em;
    line-height: .875em;
    width: 230px;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.75);
    padding: .3em 20px .2em 0;
    margin-right: 20px;
}
/* line 234, jasonspeaking.scss */

.cover footer .about {
    font-size: 1em;
    display: block;
    width: 290px;
    float: left;
}
/*********************************************
 * Type Styles
 *********************************************/
/* line 248, jasonspeaking.scss */

.reveal p {
    font-size: 1em;
    font-family: 'body', serif;
    letter-spacing: auto;
    line-height: 1.5;
}
/* line 255, jasonspeaking.scss */

.reveal q {
    font-style: normal;
}
/* line 259, jasonspeaking.scss */

.reveal super {
    font-size: .65em;
    position: relative;
    bottom: .4em;
    left: .05em;
    z-index: 999;
}
/* line 267, jasonspeaking.scss */

.reveal em {
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal !important;
}
/* line 275, jasonspeaking.scss */

.reveal strong {
    font-size: 1.5em;
    font-weight: normal;
    color: #6e9696;
}
/* line 281, jasonspeaking.scss */

.reveal blockquote {
    position: relative;
    font-style: normal;
    font-size: 1em;
    text-align: left;
    font-family: 'headline', sans-serif;
    line-height: 1 !important;
    padding: 2em;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255,255,255,.8);
}
/* line 293, jasonspeaking.scss */

.reveal blockquote p {
    font-family: 'headline', serif;
    font-style: normal;
}
/* line 298, jasonspeaking.scss */

.venn p {
    color: white;
    font-weight: normal;
    position: relative;
    top: 120px;
}
/* line 305, jasonspeaking.scss */

.reveal blockquote:before {
    position: absolute;
    font-size: 6em;
    top: -0.14em;
    left: -0.01em;
    content: '‟';
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
    opacity: .5;
}
/* line 315, jasonspeaking.scss */

.reveal blockquote:after {
    content: none;
}
/* line 319, jasonspeaking.scss */

.reveal blockquote.pull-quote-left {
    float: left;
    width: 60%;
}
/* line 324, jasonspeaking.scss */

.reveal blockquote.pull-quote-right {
    float: right;
    width: 60%;
}
/* line 329, jasonspeaking.scss */

.reveal blockquote cite {
    font-family: 'body', serif;
    display: block;
    font-size: 1em;
    font-style: italic;
    opacity: .75;
    width: 99%;
    margin-top: 1em;
    text-align: right;
}
/* line 340, jasonspeaking.scss */

.reveal blockquote cite:before {
    content: "— ";
}
/* line 346, jasonspeaking.scss */

.muted {
    opacity: .25;
}
/*********************************************
 * Lists
 *********************************************/
/* line 354, jasonspeaking.scss */

.reveal ul,
.reveal ol {
    width: 100%;
    font-size: 1em;
    margin: 1em;
    font-family: "headline", sans-serif;
}
/* line 361, jasonspeaking.scss */

.reveal ol li {
    list-style: decimal-leading-zero !important;
    font-size: .875em;
}
/* line 366, jasonspeaking.scss */

.reveal ul li,
.reveal ol li {
    text-align: left;
    list-style: none;
    margin: .5em 0;
    line-height: 1;
}
/* line 373, jasonspeaking.scss */

.reveal .clock ul li {
    margin: 0;
}
/* line 377, jasonspeaking.scss */

.clock .flip-clock-label {
    display: none;
}
/* line 381, jasonspeaking.scss */

.reveal ul li:before {
    color: rgba(255, 0, 0, 0.5);
    display: inline-block;
    font-size: .75em;
    line-height: 1;
    margin-right: .25em;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}
/* line 390, jasonspeaking.scss */

.nobullet {
    list-style: none;
    list-style-type: none;
    text-align: center;
}
/* line 396, jasonspeaking.scss */

.muted {
    opacity: .25;
}
/*********************************************
 * Borders & Backgrounds
 *********************************************/
/* line 404, jasonspeaking.scss */

.bordertop {
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    padding-top: .5em;
}
/* line 409, jasonspeaking.scss */

.borderbottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    padding-bottom: .25em;
}
/* line 415, jasonspeaking.scss */

.watermark {
    position: absolute;
    bottom: 100%;
    left: 40%;
    opacity: 0.1;
}
/* line 421, jasonspeaking.scss */

.reveal .backdrop {
    color: white !important;
    padding: .25em 0;
    background: rgba(0, 0, 0, 0.75);
}
/*********************************************
 * Text Sizes
 *********************************************/
/* line 433, jasonspeaking.scss */

.reveal .text-huge {
    font-size: 12em;
}
/* line 437, jasonspeaking.scss */

.reveal .text-xxlarge {
    font-size: 8em;
}
/* line 441, jasonspeaking.scss */

.reveal .text-xlarge {
    font-size: 3em;
}
/* line 445, jasonspeaking.scss */

.reveal .text-large {
    font-size: 2em;
}
/* line 449, jasonspeaking.scss */

.reveal .text-medium {
    font-size: 1.5em;
}
/* line 453, jasonspeaking.scss */

.reveal .text-regular {
    font-size: 1em;
}
/* line 457, jasonspeaking.scss */

.reveal .text-small {
    font-size: .875em;
}
/* line 461, jasonspeaking.scss */

.reveal .text-xsmall {
    font-size: .75em;
}
/* line 465, jasonspeaking.scss */

.reveal .text-xxsmall {
    font-size: .5em;
}
/* line 469, jasonspeaking.scss */

.reveal .text-tiny {
    font-size: .25em;
}
/*********************************************
 * Layout
 *********************************************/
/* line 478, jasonspeaking.scss */

.pull-right {
    float: right;
}
/* line 482, jasonspeaking.scss */

.pull-left {
    float: left;
}
/*********************************************
* TABLES
*********************************************/
/* line 492, jasonspeaking.scss */

table.tablestyle {
    border: none;
    caption-side: bottom;
    font-size: .75em;
}
/* line 498, jasonspeaking.scss */

table.tablestyle caption {
    font-family: 'headline', Impact, sans-serif;
    font-size: 1em;
    position: relative;
    top: 20px;
}
/* line 505, jasonspeaking.scss */

table.tablestyle tfoot td {
    font-size: 1em;
}
/* line 509, jasonspeaking.scss */

table.tablestyle td,
table.tablestyle th {
    overflow-x: hidden;
    border: none;
    text-align: left;
    vertical-align: bottom;
    padding: .5em;
    min-width: 100px;
    text-shadow: none;
}
/* line 519, jasonspeaking.scss */

table.tablestyle tr th {
    font-family: 'headline', Impact, sans-serif;
    font-weight: bold;
    font-size: .875em;
    letter-spacing: .1em;
    vertical-align: bottom;
    margin: 0;
    background-color: rgba(204, 204, 255, 0.25);
}
/* line 529, jasonspeaking.scss */

table.tablestyle tr td {
    vertical-align: top;
    background: rgba(235, 235, 255, 0.25);
    text-align: left;
    font-size: .75em;
    font-weight: normal;
    line-height: 1.5;
}
/* line 538, jasonspeaking.scss */

table.tablestyle tr td li {
    margin: 0;
}
/* line 542, jasonspeaking.scss */

table.tablestyle1 td,
table.tablestyle1 th {
    font-size: 1em;
    font-weight: bold;
}
/* line 547, jasonspeaking.scss */

table.tablestyle2 td,
table.tablestyle2 th {
    font-size: .875em;
    font-weight: bold;
}
/* line 553, jasonspeaking.scss */

table td .icon-star-empty {
    color: rgba(0, 0, 0, 0.25);
}
/* line 557, jasonspeaking.scss */

table td .icon-star {
    color: rgba(0, 0, 0, 0.5);
}
/*********************************************
* Figures
*********************************************/
/* line 566, jasonspeaking.scss */

.reveal figure figcaption {
    text-align: center;
    display: block;
    font-size: 1em;
    margin: 10px 25% !important;
    padding: 2px 10px;
    bottom: 0;
    background-color: white;
    color: rgb(24, 24, 24);
    font-weight: normal;
}

.reveal figure figcaption:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.2)
}

/* line 575, jasonspeaking.scss */

figure.diagram {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}
/* line 582, jasonspeaking.scss */

figure.diagram img {
    position: absolute;
    top: 0;
    left: 0;
}

figure img {
    width: 100%;
}
/* line 588, jasonspeaking.scss */

.reveal figure.portrait {
    width: 500px;
    height: 630px;
    margin: 0 auto;
}
/* line 594, jasonspeaking.scss */

.reveal figure.smallportrait {
    width: 320px;
    height: 568px;
    margin: 0 auto;
}
/* line 600, jasonspeaking.scss */

.reveal figure.landscape {
    height: 500px;
    width: 630px;
    margin: 0 auto;
}
/* line 606, jasonspeaking.scss */

.reveal figure.smalllandscape {
    height: 320px;
    width: 568px;
    margin: 0 auto;
}
/* line 616, jasonspeaking.scss */

.reveal figure.siteexample {
    position: absolute;
    top: -300%;
    left: -15%;
    width: 1200px;
    height: 800px !important;
    z-index: 9;
    -webkit-transform: scale(0.6);
}
/* line 624, jasonspeaking.scss */

.reveal figure.siteexample iframe {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 100%;
    border: 20px solid rgb(26, 26, 26);
    border-right-width: 100px;
    border-left-width: 100px;
    border-radius: 24px;
    overflow-y: scroll;
}
/* line 635, jasonspeaking.scss */

.reveal figure.siteexample iframe:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
/* line 640, jasonspeaking.scss */

.reveal figure.siteexample figcaption {}
/*********************************************
* Examples
*********************************************/
/*********************************************
* Code
*********************************************/
/* line 662, jasonspeaking.scss */

.reveal pre {
    color: #009900;
    font-size: 1em;
    padding: 1em;
    line-height: 1.5em;
    margin: 30px 0;
    width: 100%;
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(0, 255, 0, 0.25);
    text-shadow: none;
}
/* line 675, jasonspeaking.scss */

.reveal pre:hover {
    border: 1px solid rgba(0, 255, 0, 0.5);
    background-color: rgba(0, 255, 0, 0.1);
}
/* line 680, jasonspeaking.scss */

.reveal pre select {
    display: inline;
    font-family: 'Droid Sans Mono', monospace;
    border: 1px solid #666666;
    font-size: 1em;
    background-color: #cccccc;
    border-radius: 4px;
}
/* line 689, jasonspeaking.scss */

.reveal pre.smallcode {
    font-size: .45em;
}
/*********************************************
 * Universal Transitions

 *, *:hover, *:active, *:focus {
 	-moz-transition:
		background-color 0.2s linear,
		border-color 0.2s linear,
		-moz-box-shadow 0.2s linear,
		box-shadow 0.2s linear,
		color 0.2s linear,
		opacity 0.2s linear,
		text-shadow 0.2s linear,
		-moz-transform 0.2s linear;
	-webkit-transition:
		background-color 0.2s linear,
		border-color 0.2s linear,
		-webkit-box-shadow 0.2s linear,
		box-shadow 0.2s linear,
		color 0.2s linear,
		opacity 0.2s linear,
		text-shadow 0.2s linear,
		-webkit-transform 0.2s linear;
	-o-transition:
		background-color 0.2s linear,
		border-color 0.2s linear,
		-o-box-shadow 0.2s linear,
		box-shadow 0.2s linear,
		color 0.2s linear,
		opacity 0.2s linear,
		text-shadow 0.2s linear,
		-o-transform 0.2s linear;
	transition:
		background-color 0.2s linear,
		border-color 0.2s linear,
		box-shadow 0.2s linear,
		color 0.2s linear,
		opacity 0.2s linear,
		text-shadow 0.2s linear,
		transform 0.2s linear;
}

 *********************************************/
/*********************************************
 *  REVEAL — LINKS
 *********************************************/
/* line 740, jasonspeaking.scss */

a:not(.image) {
    text-decoration: none;
    color: #6e9696;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    -ms-transition: color .15s ease;
    -o-transition: color .15s ease;
    transition: color .15s ease;
}
/* line 750, jasonspeaking.scss */

a:not(.image):hover {
    color: #a6e1a6;
    text-shadow: none;
    border: none;
    border-radius: 2px;
}
/* line 757, jasonspeaking.scss */

.reveal .roll span:before {
    color: #fff;
    background: #24868f;
}
/*********************************************
 *  REVEAL — NAVIGATION CONTROLS
 *********************************************/
/* line 768, jasonspeaking.scss */

.reveal .controls .navigate-up {
    border-bottom-color: rgba(255,255,255,1);
    border-bottom-width: 10px;
    top: 10px;
}

.reveal .controls .navigate-left {
    border-right-color: rgba(255,255,255,1);
    border-right-width: 10px;
    position: relative;
    left: -31px;
    top: 20px;
}

.reveal .controls .navigate-right {
    border-left-color: rgba(255,255,255,1);
    border-left-width: 10px;
    right: 0;
}

.reveal .controls .navigate-down {
    border-top-color: rgba(255,255,255,1);
    border-top-width: 10px;
    bottom: 15px;
}

.reveal .controls .navigate-down {
}


.reveal .controls {
    z-index: 9999;
    bottom: -15px;
}

.reveal .controls a.enabled {
    cursor: pointer;
    pointer-events: fill;
}
/*********************************************
 * REVEAL — PROGRESS BAR
 *********************************************/
/* line 786, jasonspeaking.scss */

.reveal .progress {
    background: rgba(0, 0, 0, 0.1);
}
/* line 788, jasonspeaking.scss */

.reveal .progress span {
    background: #13daec;
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
/* line 794, jasonspeaking.scss */

/* line 799, jasonspeaking.scss */

.bottom {
    position: absolute;
    bottom: -400px;
    width: 100%;
    overflow: auto;
}

.middle {
    position: absolute;
    top: 50%;
    width: 100%;
}

.top {
    position: absolute;
    top: 0;
    width: 100%;
}
/* line 804, jasonspeaking.scss */

.left {
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 99999;
}
/* line 809, jasonspeaking.scss */

.right {
    position: absolute;
    right: 0;
}
/* line 815, jasonspeaking.scss */

.box-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
/* line 821, jasonspeaking.scss */

.reveal .controls div.navigate-up {
    border-bottom-color: rgba(153, 153, 153, 0.75);
}
/* line 824, jasonspeaking.scss */

.reveal .controls div.navigate-down {
    border-top-color: rgba(153, 153, 153, 0.75);
}
/* line 827, jasonspeaking.scss */

.reveal .controls div.navigate-left {
    border-right-color: rgba(153, 153, 153, 0.75);
}
/* line 830, jasonspeaking.scss */

.reveal .controls div.navigate-right {
    border-left-color: rgba(153, 153, 153, 0.75);
}
/* line 835, jasonspeaking.scss */

.m-t-10 {
    display: block;
    margin-top: 10px;
}
/* line 844, jasonspeaking.scss */

.delete {
    text-decoration: line-through;
    text-decoration-color: red;
}
/* line 851, jasonspeaking.scss */

.word-balloon {
    padding: 20px 10px !important;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: white;
    border: 8px solid #666 !important;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #888;
}
/* line 867, jasonspeaking.scss */

.word-balloon.left:before,
.word-balloon.left:after,
.word-balloon.right:before,
.word-balloon.right:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border: 25px solid;
}
/* line 876, jasonspeaking.scss */

.word-balloon.left:before {
    bottom: -50px;
    left: 30px;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
}
/* line 884, jasonspeaking.scss */

.word-balloon.left:after {
    bottom: -30px;
    left: 38px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}
/* line 893, jasonspeaking.scss */

.word-balloon.right:before {
    right: 30px;
    bottom: -50px;
    border: 25px solid;
    border-color: #666 #666 transparent transparent;
}
/* line 900, jasonspeaking.scss */

.word-balloon.right:after {
    right: 38px;
    bottom: -30px;
    border: 15px solid;
    border-color: #fff #fff transparent transparent;
}
/* line 907, jasonspeaking.scss */

.move-down {
    top: 50px;
}
/* line 911, jasonspeaking.scss */

.fill-blank {
    text-decoration: underline;
    white-space: pre;
}
/* line 916, jasonspeaking.scss */

.top-large {
    margin-top: 3em !important;
}
/* line 920, jasonspeaking.scss */

.done {
    opacity: .5;
}
/* line 924, jasonspeaking.scss */

.example {
    font-size: 48px !important;
    padding: 1em auto;
    height: 100px;
}
/* line 930, jasonspeaking.scss */

.circle {
    border-radius: 100%;
    background-color: #999999;
    height: 100px;
    width: 100px;
}
/* line 937, jasonspeaking.scss */

.large {
    height: 300px;
    width: 300px;
}
/* line 942, jasonspeaking.scss */

.circle.html {
    background-color: rgba(153, 53, 0, 0.5);
}
/* line 946, jasonspeaking.scss */

.circle.css {
    background-color: rgba(0, 53, 153, 0.5);
}
/* line 950, jasonspeaking.scss */

.circle.js {
    background-color: rgba(153, 153, 0, 0.5);
}
/* line 954, jasonspeaking.scss */

.venn {
    left: 0;
    position: absolute;
    top: 0;
}
/* line 960, jasonspeaking.scss */

article {
    overflow: visible;
    position: relative;
}
/* line 965, jasonspeaking.scss */

.venn i {
    color: white;
    position: absolute;
}
/* line 970, jasonspeaking.scss */

.venn h4 {
    color: white;
    position: relative;
    top: 130px;
}
/* line 976, jasonspeaking.scss */

.side-right {
    overflow: auto;
    width: 600px;
    left: 400px;
}
/* line 982, jasonspeaking.scss */

.siteexampleframe {
    width: 100%;
    height: 450px;
}
/* line 989, jasonspeaking.scss */

.cgreen,
.cgreen:before {
    color: #009900;
}
/* line 993, jasonspeaking.scss */

.dom {
    background-color: #808047;
}

svg.icon-over {
    position: absolute;
    top: -80px;
    left: 30%;
    width: 40%;
}

svg.color-red {
    fill: rgba(255, 0, 0, .8);
}

svg.color-green {
    fill: rgba(0, 255, 0, .8);
}

.liveexample {
    width: 1200px;
    height: 800px;
    border-radius: 6px;
    transform: scale(.8);
    border: 30px solid rgba(0, 0, 0, .2);
}
.icon-med {
    height: 1em;
    fill: rgba(0,0,0, .4);
    position: relative;
    top: 6px;
}

a:hover .icon-med {
    width: 1em;
    fill: rgba(0,153,0,1);
}


figcaption a {
    color: rgba(0,0,0,.6) !important;
}

figcaption:hover a {
    color: rgba(0,0,0,1) !important;
}

a:hover {
    color: rgba(255,255,255,1) !important;
}

a:active {
    color: rgba(0,0,0,.4) !important;
}

.red-text {
    color: rgba(255,0,0,1);
}

p.seperator {
    font-size: 1em;
}

.center {
    top: 0;
}

.slide {
    position: relative;
}

blockquote.half {
    width: 50%;
}
